@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 30px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.logo {
    margin: 0px;
    padding: 0px;
    height: 100px;

}

.logo-container{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0597FF;
    border-radius: 50px;
    padding: 15px 20px;
    margin-left: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ddc1fa;
}

.login-button {
    background: linear-gradient(to right, #68BFFE, #086BEC);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 60px;
    text-decoration: none;
    transition: 0.3s;
}

.login-button:hover {
    background: linear-gradient(to right, #68BFFE, #b888ec);
    transform: scale(1.1);
}

/*imagem principal*/

.slider {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 100px;
    overflow: hidden;
    position: relative;

}

.slides {
    width: 200%;
    height: 100%;
    display: flex;
    transition: margin-left 1s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.manual-navigation,
.navigation-auto {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}

.manual-btn,
.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
}

.manual-btn:hover,
.navigation-auto div:hover {
    background-color: white;
}

input[type="radio"] {
    display: none;
}

#radio1:checked ~ .slides {
    margin-left: 0%;
}

#radio2:checked ~ .slides {
    margin-left: -100%;
}

.section-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 40px;
    max-width: 1200px;
    margin-bottom: 100px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 25px 25px 25px rgba(87, 87, 87, 0.2);
}


.sobre-texto {
    flex: 1;
    max-width: 60%;
}

.sobre-texto h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.sobre-texto p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    max-width: 250px;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

.linha-amarela {
    background-color: #FFD242;
    border-radius: 20px;
    width: 95%;
    margin: auto;
    padding: 4px;
}

.section-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3974C2;
    border-radius: 20px;
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    margin-bottom: 200px;
}


.mais-conteudo {
    background: linear-gradient(to top, #2c9ced, #086BEC);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 40px;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 7px 5px 6px rgba(0, 0, 0, 0.1);
}


iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.video {
    width: 50%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    margin-left: 20px;
    box-shadow: 7px 5px 6px rgba(0, 0, 0, 0.1);
}

/*reciclagem de oleo*/

.section-reciclagem {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, green, blue);
    margin: 10px;
    padding: 40px;
    height: auto;
    border-radius: 20px;
}

.reciclagem-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    background-color: white;
    border-radius: 20px;
    gap: 20px;
}

.imagem-oleo img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 30%, black 80%, transparent);
}

.texto-container {
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    flex-direction: column;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 20px;
    width: 100%
}

.titulo-reciclagem {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

.licencas-texto {
    max-width: 95%;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

/*icon de reciclagem*/
.section-icon {
    background-color: lightgray;
    height: 300px;
    width: 100%;
    display: flex;
}

.icon-container {
    padding:60px;
    display: flex;
    align-items: center;
    gap: 50%;
}

.icon-container img{
    height: auto;
}

/*linha verde*/
.linha-verde {
    background-color: green;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    padding: 4px;
}

/*localização*/
.section-local {
    background-color: #f0f0f0;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.text-local{
    background-color: #0597FF;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 5%;
    margin-top: 10px;
}

.title-local{
    color: lightgrey;
}

.local {
    text-align: center;
    width: 44.8px;
    height: 44.8px;
    position: absolute;
    transform: rotate(45deg);
    z-index: 10;
}

.unidades-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.unidades {
    flex-direction: column;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.mapa-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.local:before,
.local:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%, #0000 94%, #ff4747);
}

.local:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
}

.section-local .mapa-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-local .mapa-container .local {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes pulse-ytk0dhmd {
    to {
        transform: perspective(336px) translateZ(168px);
        opacity: 0;
    }
}

/* Footer Banner */
.footer-banner {
    margin-top: 30%;
    background-color: #FFA500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}


.banner-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner-content p {
    font-size: 18px;
    font-weight: bold;
}

.banner-img {
    width: 100px;
}


.botao-playstore a {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: transform 0.3s ease;
}


.botao-playstore a:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to top, #2c9ced, #086BEC);
    color: #fff;
}


.botao-playstore img {
    width: 30px;
    margin-right: 10px;
}


.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.language-selector img {
    width: 20px;
}

/* Footer Inferior */
.footer-inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F8F8;
    padding: 30px 0;
    text-align: center;
}

.footer-logo img {
    width: 250px;
    height: 150px;
}

.footer-logo p {
    font-size: 14px;
    color: #333;
}

.footer-contact p,
.footer-social p {
    font-size: 14px;
    color: #333;
}

.footer-social .social-icons {
    display: flex;
    gap: 15px;
}

.footer-social .social-icons img {
    width: 30px;
    transition: 0.3s;
}

.footer-social .social-icons img:hover {
    transform: scale(1.1);
}

/*flexbox do site*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

@media (max-width: 1350px) {

    header {
        align-items: flex-start;
        height: auto;
        padding: 20px;
        gap: 20px;
    }


    .nav {
        margin: 0px;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        padding: 0px;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: flex-start;
    }

    .login-button {
        
        flex-direction: column;
        width: auto;
        align-self: flex-end;
    }

    .image-container {
        
        padding: 0px;
        max-width: 100%;
    }



    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }

    .section-sobre,
    .section-mais,
    .section-reciclagem {
        flex-direction: column;
        padding: 20px;
    }

    .conteudo-sobre,
    .mais-conteudo,
    .reciclagem-container {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .sobre-texto,
    .video-texto,
    .about-image,
    .texto-container {
        max-width: 100%;
        text-align: center;
    }

    .video {
        width: 100%;
        margin-left: auto;
    }

    .footer-banner {
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        text-align: center;
    }

    .footer-inferior {
        flex-direction: column;
        gap: 20px;
    }
}