@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Montserrat:wght@400;700&family=Raleway:wght@500;600;700&display=swap');

* {
    margin: 5;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.mudouTamanho {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    z-index: 1000;
    height: auto;
}

/*Loading*/

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #fff;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-screen p {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}


.logo {
    margin: 0px;
    padding: 0px;
    height: 90px;

}

.logo-container {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #1B63C5;
    border-radius: 30px;
    padding: 10px 14px;
    margin-left: 20px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ddc1fa;
}

.login-button {
    background: #1B63C5;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 60px;
    text-decoration: none;
    transition: 0.3s;
}

.login-button:hover {
    background: linear-gradient(to right, #68BFFE, #b888ec);
    transform: scale(1.1);
}

/*imagem principal*/

.slider {
    max-width: 2000px;
    margin: 24px auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    justify-content: center;
}

.slides {
    width: 400%;
    height: 650px;
    display: flex;
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}

.slide .first {
    margin-left: 0
}

.slides input {
    display: none;
}


.slide {
    width: 25%;
    height: 100%;
    /* garante que todas as slides tenham mesma altura */
    position: relative;
    flex-shrink: 0;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 101%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.manual-navigation {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    z-index: 5;
}

.manual-btn {
    width: 5px;
    height: 5px;
    border: 2px solid#fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #9ca3ca;
    transform: scale(1.6);
}

/* #radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
} */

.navigation-auto div {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navigation-auto {
    position: absolute;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: white;
}



/* Sobre a empresa */

.section-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 40px;
    max-width: 1200px;
    margin-bottom: 100px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 25px 25px 25px rgba(87, 87, 87, 0.2);
}


.sobre-texto {
    flex: 1;
    max-width: 60%;
}

.sobre-texto h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.sobre-texto p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    max-width: 250px;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}



.section-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3974C2;
    border-radius: 20px;
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    margin-bottom: 200px;
}


.mais-conteudo {
    background: #1B63C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 40px;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 7px 5px 6px rgba(0, 0, 0, 0.1);
}


iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.video {
    width: 50%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    margin-left: 20px;
    box-shadow: 7px 5px 6px rgba(0, 0, 0, 0.1);
}

/*reciclagem de oleo*/

.section-reciclagem {
    display: flex;
    justify-content: center;
    background: #EFC91D;
    margin: 10px;
    padding: 40px;
    height: auto;
    border-radius: 20px;
}

.reciclagem-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    background-color: white;
    border-radius: 20px;
    gap: 20px;
}

.imagem-oleo img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;

}

.texto-container {
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    flex-direction: column;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 20px;
    width: 100%
}

.titulo-reciclagem {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

.licencas-texto {
    max-width: 95%;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

/*icon de reciclagem*/
.section-icon {
    background-color: lightgray;
    height: 300px;
    width: 100%;
}

.icon-container {
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 80%;
}

.icon-container img {
    height: auto;
}

/*linha azul*/
.linha-azul {
    background-color: #1B63C5;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    padding: 4px;
}

/*localização*/
.section-local {
    background-color: #f0f0f0;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    gap: 70px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.section-local .mapa-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-local .unidades-container {
    margin-bottom: 0;
    /* garante que não tem margem extra */
}

.text-local {
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 5%;
    margin-top: 10px;
    align-self: center;
}

.title-local {
    color: rgb(0, 168, 56);
}

.local {
    text-align: center;
    width: 44.8px;
    height: 44.8px;
    position: absolute;
    transform: rotate(45deg);
    z-index: 10;
}

.local2 {
    text-align: center;
    width: 44.8px;
    height: 44.8px;
    position: absolute;
    transform: rotate(45deg);
    z-index: 10;
}

.unidades-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.unidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* aumentar o tamanho dos textos */
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /* Aumenta o tamanho do texto */
}

.lista-estados {
    list-style: none;
    padding: 10;
    margin: 70px;
}

.lista-estados-titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mapa {
    /* max-width: 100%;
    height: auto; */

    margin-right: 0;
    display: block;
}

.img.mapa {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
}

.local:before,
.local:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%, #0000 94%, #ff4747);
}

.local:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
}



.section-local .mapa-container .local {
    position: absolute;
    top: 410%;
    left: 85%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.section-local .li {
    flex: none;
    /* evita alongar os itens */
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.section-local .mapa-container {
    flex: none;
    display: contents;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

@keyframes pulse-ytk0dhmd {
    to {
        transform: perspective(336px) translateZ(168px);
        opacity: 0;
    }
}

/*Sobre o oleo*/

/*Linha invisivel entre o card e local*/
.curiosidade-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 20vw;
}

/*Card container*/

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15vw;
    gap: 20px;
}

.card {
    width: 325px;
    background-color: #302f2f;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 220px
}


.card-content {
    padding: 16px;

}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    color: white;
}

.card-content p {
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
}

/*Card container sobre ler mais*/

/* garante que o conteúdo do card empurre o botão para baixo */
.card,
.card-content {
    display: flex;
    flex-direction: column;
}

.card-content .btn-read {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 155px;
    margin: 16px auto 40px;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    transition: 0.4s ease;
}

/* leve aumento do espaçamento ao passar o mouse */
.card-content .btn-read:hover {
    background: #EFC91D;
    letter-spacing: 2px;
    transform: translateY(-2px);
    box-shadow: 0 0 15px #EFC91D, 0 0 30px #EFC91D;
}

/* brilho que corre pela esquerda para direita */
.card-content .btn-read::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
    pointer-events: none;
}

.card-content .btn-read:hover::before {
    transform: skewX(45deg) translateX(200%);
}

/* barra de destaque (em baixo) que cresce ao hover */
/*.card-content .btn-read::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    background: rgb(249, 26, 1);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    box-shadow: 0 0 8px rgba(249, 26, 1, 0.6);
}*/

.card-content .btn-read:hover::after {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.2s;
}

/* efeito ao clicar */
.card-content .btn-read:active {
    color: #000;
    transform: translateY(0);
}

/* personalização para o primeiro card (igualzinho ao uiverse) */
.card:nth-child(1) .btn-read::after {
    background: #EFC91D;
    box-shadow:
        0 0 5px #EFC91D8a,
        0 0 15px #EFC91D,
        0 0 30px #EFC91D,
        0 0 60px #EFC91D;
}

/* Conteúdo extra inicialmente escondido */
.card {
    position: relative;
    width: 325px;
    background-color: #302f2f;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 220px;
    display: block;
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

/* Overlay que vai aparecer sobre o card */
.card-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 47, 47, 0.95);
    /* escuro translúcido */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    border-radius: 8px;
    z-index: 10;
}

/* Overlay ativo */
.card-content.expanded .overlay {
    opacity: 1;
    visibility: visible;
}

/* Botão permanece em cima do overlay */
.card-content .btn-read {
    position: relative;
    z-index: 20;
}

/* Footer Banner */
.footer-banner {
    margin-top: 10%;
    background-color: #EFC91D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}


.banner-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner-content p {
    font-size: 18px;
    font-weight: bold;
}

.banner-img {
    width: 100px;
}


.botao-playstore a {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: transform 0.3s ease;
}


.botao-playstore a:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to top, #2c9ced, #086BEC);
    color: #fff;
}


.botao-playstore img {
    width: 30px;
    margin-right: 10px;
}


.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.language-selector img {
    width: 20px;
}

/* Footer Inferior */
.footer-inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-logo img {
    width: 120px;
    height: auto;
}

.footer-logo p {
    font-size: 14px;
    color: #333;
}

.footer-contact p,
.footer-social p {
    font-size: 14px;
    color: #333;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

/* CARD PADRÃO */
.card1,
.card2,
.card3,
.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

/* Bordas individuais */
.card1 {
    border-radius: 90px 5px 5px 5px;
}

.card2 {
    border-radius: 5px 90px 5px 5px;
}

.card3 {
    border-radius: 5px 5px 5px 90px;
}

.card4 {
    border-radius: 5px 5px 90px 5px;
}

/* Ícones - sempre visíveis */
.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: white;
}

.youtube {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: white;
}

.github {
    margin-top: -0.6em;
    margin-left: 1.2em;
    fill: white;
}

.facebook {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: white;
}

/* Fundo inicial com cores das marcas */
.card1 {
    background-color: #cc39a4;
}

/* Instagram */
.card2 {
    background-color: #FF0000;
}

/* YouTube */
.card3 {
    background-color: black;
}

/* GitHub */
.card4 {
    background-color: #1877F2;
}

/* Facebook */

/* Hover effects */
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    cursor: pointer;
    scale: 1.1;
}

/*flexbox do site*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

/* Responsividade aprimorada e alinhamento melhorado */

/* Telas muito grandes */
@media (max-width: 1450px) {
    .icon-container {
        padding: 60px;
        display: flex;
        align-items: center;
        gap: 60%;
    }

    .section-local .mapa-container .local {
        position: absolute;
        top: 454%;
        left: 83%;
        transform: translate(-50%, -50%) rotate(45deg);
    }


    /*desabilitar o local*/

    .local {
        display: none;
    }

    @media (max-width: 1453px) {
        .icon-container {
            gap: 50%;
        }
    }
}

/* Telas grandes */
@media (max-width: 1343px) {
    header {
        align-items: flex-start;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .nav {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        padding: 2;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: flex-start;
    }

    .login-button {
        flex-direction: column;
        width: auto;
        align-self: flex-end;
    }

    .image-container {
        padding: 0;
        max-width: 100%;
    }

    .section-local .mapa-container .local {
        position: absolute;
        top: 530%;
        left: 80%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }

    .section-sobre,
    .section-mais,
    .section-reciclagem {
        flex-direction: column;
        padding: 20px;
    }

    .conteudo-sobre,
    .mais-conteudo,
    .reciclagem-container {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .sobre-texto,
    .video-texto,
    .about-image,
    .texto-container {
        max-width: 100%;
        text-align: center;
    }

    .video {
        width: 100%;
        margin-left: auto;
    }

    .footer-banner {
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        text-align: center;
    }

    .footer-inferior {
        flex-direction: column;
        gap: 20px;
    }

    .slider {
        width: 100%;
        max-width: auto;
        margin: 40px auto 20px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        display: block;
    }

    .slides {
        width: 400%;
        height: 524px;
        display: flex;
        transition: transform 0.8s ease-in-out;
        will-change: transform;
    }

    .slide {
        width: 25%;
        height: 100%;
        flex-shrink: 0;
        position: relative;
    }

    .slide img,
    .slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .manual-navigation {
        position: absolute;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 12px;
        z-index: 5;
    }

    .manual-btn {
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.25s ease, transform 0.25s ease;
        background: rgba(255, 255, 255, 0);
    }

    .manual-btn:hover {
        transform: scale(1.25);
        background: rgba(156, 163, 202, 0.9);
    }

    .navigation-auto {
        position: absolute;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 12px;
        z-index: 4;
        pointer-events: none;
    }

    .navigation-auto div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.35);
    }

    #radio1:checked~.slides {
        transform: translateX(0%);
    }

    #radio2:checked~.slides {
        transform: translateX(-25%);
    }

    #radio3:checked~.slides {
        transform: translateX(-50%);
    }

    #radio4:checked~.slides {
        transform: translateX(-75%);
    }

    #radio1:checked~.navigation-auto .auto-btn1 {
        background-color: #fff;
    }

    #radio2:checked~.navigation-auto .auto-btn2 {
        background-color: #fff;
    }

    #radio3:checked~.navigation-auto .auto-btn3 {
        background-color: #fff;
    }

    #radio4:checked~.navigation-auto .auto-btn4 {
        background-color: #fff;
    }

    .icon-container {
        gap: 45%;
    }

    @media (max-width: 1127px) {
        .icon-container {
            gap: 30%;
        }

        .logo {
            display: none;
            /*deixar a logo invisivel*/
        }


    }

    @media (max-width: 700px) {
        .slides {
            height: 300px;
        }

        .slider {
            margin: 48px auto 20px;
        }

        .manual-btn {
            width: 10px;
            height: 10px;
            border-width: 1.5px;
        }

        .navigation-auto div {
            width: 8px;
            height: 8px;
        }

        header {
            height: 0px;
            padding: 20px;
        }

        .unidades {
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

    }
}

/* Telas médias */
@media (max-width: 900px) {
    .header {
        padding: 6px 12px;
        gap: 6px;
    }

    .logo {
        height: 44px;
    }

    .nav {
        padding: 4px 8px;
        max-width: 500px;
    }

    .nav-links {
        gap: 8px;
    }

    .nav-links a {
        font-size: 13px;
        padding: 3px 5px;
    }

    .login-button {
        margin-right: 0;
        padding: 10px 20px;
        font-size: 15px;
    }

    .slider {
        margin: 20px auto;
    }

    .slides {
        height: 300px;
    }

    .section-sobre,
    .section-mais,
    .section-reciclagem {
        padding: 10px;
        margin-bottom: 40px;
    }

    .footer-banner {
        padding: 15px;
    }

    .footer-logo img {
        width: 110px;
        height: 80px;
    }


    .icon-container {
        gap: 45px;
    }

    /* -------- Ajuste da section-local -------- */
    .section-local {
        padding: 20px 10px;
        gap: 30px;
    }

    .section-local .unidades-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .section-local .mapa-container {
        flex-direction: column;
    }

    .lista-estados-titulo {
        font-size: 20px;
        text-align: center;
    }

    .section-local a {
        font-size: 16px;
    }

    .unidades {
        flex-direction: column;
        /* coloca um abaixo do outro */
        align-items: center;
        /* centraliza horizontalmente */
        gap: 20px;
        /* espaço entre lista e mapa */
    }
}

/* Telas pequenas */
@media (max-width: 600px) {
    .header {
        padding: 6px 12px;
        gap: 6px;
    }

    .logo {
        height: 44px;
    }

    .nav {
        padding: 4px 8px;
        max-width: 500px;
    }

    .nav-links {
        gap: 8px;
    }

    .nav-links a {
        font-size: 13px;
        padding: 3px 5px;
    }

    .login-button {
        padding: 6px 12px;
        font-size: 13px;
    }

    .slider {
        margin: 70px auto;
        border-radius: 5px;
    }

    .slides {
        height: 180px;
    }

    .manual-navigation {
        gap: 6px;
        bottom: 6px;
    }

    .manual-btn {
        width: 8px;
        height: 8px;
    }

    .section-sobre,
    .section-mais,
    .section-reciclagem {
        padding: 5px;
        margin-bottom: 20px;
    }

    .conteudo-sobre,
    .mais-conteudo,
    .reciclagem-container {
        padding: 5px;
        gap: 10px;
    }

    .footer-banner {
        padding: 8px;
        gap: 10px;
    }

    .footer-logo img {
        width: 90px;
        height: 40px;
    }

    .footer-inferior {
        padding: 10px 0;
        gap: 10px;
    }

    .icon-container {
        padding: 10px;
        gap: 10px;
    }

    .footer-logo img {
        width: 100px;
        height: 80px;
    }

    .slide img,
    .slides img {
        width: 100%;
        height: 110%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

}

/* Ajuste para evitar overflow lateral em telas pequenas */
@media (max-width: 500px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .slider,
    .section-sobre,
    .section-mais,
    .section-reciclagem,
    .footer-banner,
    .footer-inferior {
        width: 100vw !important;
        box-sizing: border-box;
    }

    .footer-logo img {
        width: 95px;
        height: 80px;
    }

    /*Diminuir o tamanho da imagem do mapa*/
    .mapa {
        width: 100%;
        height: auto;
    }

}

@media (max-width: 343px) {
    .slider {
        margin: 150px auto;
        border-radius: 5px;
    }
}

@media (max-height: 940px) {
    .local {
        display: none;
    }
}