@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.logo {
    height: 150px;
    padding-left: 350px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0597FF;
    border-radius: 50px;
    padding: 25px 20px;
    margin-left: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-links a:hover {
    Color:  #ddc1fa;
}

.login-button {
    background: linear-gradient(to right, #68BFFE, #086BEC);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 200px;
    margin-right: 200px;
    text-decoration: none;
}

.login-button:hover {
    background: linear-gradient(to right, #68BFFE, #b888ec);
}


.image-container {
    background-color: #1A62C5;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 10%;
    max-height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 65%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

.section-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 40px;
    max-width: 1200px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 25px 25px 25px rgba(87, 87, 87, 0.2);
}


.sobre-texto {
    flex: 1;
    max-width: 60%;
}

.sobre-texto h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.sobre-texto p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    max-width: 250px;
    border-radius: 15px;
    box-shadow:  0px 15px 25px rgba(0, 0, 0, 0.2);
}

.linha-amarela{
    background-color: #FFD242;
    border-radius: 20px;
    width: 95%;
    margin: auto;
    padding: 4px;
}

.section-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3974C2;
    border-radius: 20px;
    max-width: 1200px; 
    width: 90%;
    margin: 50px auto;
    padding: 40px; 
}


.mais-conteudo {
    background: linear-gradient(to top, #2c9ced, #086BEC);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 40px; 
    max-width: 1000px; 
    border-radius: 20px;
    box-shadow: 7px 5px 6px rgba(0, 0, 0, 0.1);
}


iframe {
    width: 100%; 
    height: auto; 
    aspect-ratio: 16 / 9; 
}

.video {
    width: 50%; 
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    margin-left: 20px; 
    box-shadow: 7px 5px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Banner */
.footer-banner {
    background-color: #FFA500; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.banner-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner-content p {
    font-size: 18px;
    font-weight: bold;
}

.banner-img {
    width: 100px;
}


.botao-playstore a {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none; 
    transition: transform 0.3s ease; 
    /* background:linear-gradient(to top, #2c9ced, #086BEC);  */
    /* color: #fff; */
}


.botao-playstore a:hover {
    transform: scale(1.05); 
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3); 
     background:linear-gradient(to top, #2c9ced, #086BEC);
     color: #fff; 
}


.botao-playstore img {
    width: 30px;
    margin-right: 10px;
}


.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.language-selector img {
    width: 20px;
}

/* Footer Inferior */
.footer-inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F8F8;
    padding: 30px 0;
    text-align: center;
}

.footer-logo img {
    width: 250px;
    height: 150px;
}

.footer-logo p {
    font-size: 14px;
    color: #333;
}

.footer-contact p, .footer-social p {
    font-size: 14px;
    color: #333;
}

.footer-social .social-icons {
    display: flex;
    gap: 15px;
}

.footer-social .social-icons img {
    width: 30px;
    transition: 0.3s;
}

.footer-social .social-icons img:hover {
    transform: scale(1.1);
}